{
  "gui" : {
    "background" : {
        "type" : "background",
        "fileHeader" : "/interface/sbmcnbox/frame/head3x_.png",
        "fileBody" : "/interface/sbmcnbox/frame/body3x3.png",
        "fileFooter" : "/interface/sbmcnbox/frame/foot3x_.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [7, 19],
      "dimensions" : [3, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/sbmcn-common/smallX.png",
      //"hover" : "/interface/xhover.png",
      //"pressed" : "/interface/xpress.png",
      //"pressedOffset" : [0, 0],
      //"position" : [60, 96]
      "position" : [4, 3]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/sbmcn-common/smallClear.png",
      //"hover" : "/interface/buttonhover.png",
      //"press" : "/interface/buttonhover.png",
      //"caption" : "Take all",
      "position" : [23, 2]
    }
  },

  "params" : {
    
  },

  "scriptWidgetCallbacks" : [
  ],

  "scripts" : ["/interface/sbmcnbox/sbmcnboxinterface.lua"],
  "scriptDelta" : 1
}