{
  "gui" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/sbmcnbox/frame/head3x_.png",
      "fileBody" : "/interface/sbmcnbox/frame/body3x3.png",
      "fileFooter" : "/interface/sbmcnbox/frame/foot3x_.png"
    },
    
    //"outputPreview" : {
    //  "type" : "itemslot",
    //  "position" : [10, 46],
    //  "callback" : "null"
    //},
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [30, 46],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/sbmcn-common/emptyitem.png"
    },
    // "outputItemGrid" : {
    //   "type" : "itemgrid",
    //   "slotOffset" : 1,
    //   "position" : [132, 46],
    //   "dimensions" : [1, 1],
    //   "spacing" : [19, 19],
    //   "backingImage" : "/interface/sbmcn-common/emptyitem.png"
    // },
    "outLiq1" : {
      "type" : "itemslot",
      "position" : [10, 30],
      "callback" : "null",
      "showRarity" : false,
      "showCount" : false,
      "showDurability" : false,
      "backingImage" : "/interface/sbmcnliquids/emptybg.png",
      "showBackingImageWhenEmpty" : true,
      "showBackingImageWhenFull" : true
    },
    "outLiqOver1" : {
      "type" : "image",
      "position" : [10, 30],
      "file" : "/interface/sbmcnliquids/overlay.png", //the liquid overlay png tank thing
      "zlevel" : 11, //higher than liqimg
      "mouseTransparent" : true
    },
    "lblOutLiq1" : {
      "type" : "label",
      "position" : [21, 22],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "fontSize" : 6,
      "value" : "EMPTY"
    },
    "lblOutLiqMax1" : {
      "type" : "label",
      "position" : [21, 16],
      "hAnchor" : "mid",
      "wrapWidth" : 125,
      "fontSize" : 6,
      "value" : "^#5f5f5f;/2.0L^reset;"
    },
    //"outLiqBg1" : {
    //  "type" : "image",
    //  "position" : [10, 20],
    //  "file" : "/interface/sbmcnliquids/emptybg.png", //the liquid bg png tank thing
    //  //"centered" : true,
    //  "zlevel" : 9, //lower than liqimg
    //  "mouseTransparent" : true
    //},
    //"outLiq1" : {
    //  "type" : "image",
    //  "position" : [10, 20],
    //  "file" : "/utility/sbmcn/empty.png", //the liquid
    //  //"centered" : true,
    //  "zlevel" : 10,
    //  "mouseTransparent" : false,
    //  "data" : {
    //    "hasTooltip" : true
    //  }
    //},
    // -- TODO -- 
    // use 
    //  "maxSize" : [40, 40],
    //  "minSize" : [40, 40]
    // for jei gui

    //"partTypeLabel" : {
    //  "type" : "label",
    //  "position" : [93, 90],
    //  "hAnchor" : "mid",
    //  "vAnchor" : "bottom",
    //  "color" : "cyan",
    //  "value" : "Part type: "
    //},
    //"partTypeDisplay" : {
    //  "type" : "label",
    //  "position" : [93, 80],
    //  "hAnchor" : "mid",
    //  "vAnchor" : "bottom",
    //  "value" : "--"
    //},

    //"btnConfirm" : {
    //  "type" : "button",
    //  "position" : [56, 28],
    //  "base" : "/interface/button.png",
    //  "hover" : "/interface/buttonhover.png",
    //  "disabledImage" : "/interface/buttongrayed.png",
    //  "caption" : "CRAFT",
    //  "callback" : "confirm"
    //},
    "close" : {
      "type" : "button",
      "base" : "/interface/sbmcn-common/smallX.png",
      "pressedOffset" : [0, 0],
      "position" : [4, 3]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/sbmcn-common/smallClear.png",
      //"hover" : "/interface/buttonhover.png",
      //"press" : "/interface/buttonhover.png",
      //"caption" : "Take all",
      "position" : [23, 2]
    }
    // "lblText" : {
    //   "type" : "label",
    //   "position" : [82, 236],
    //   "hAnchor" : "mid",
    //   "wrapWidth" : 125,
    //   "value" : "^#b9b5b2;Select part type"
    // },
    // "lblText3" : {
    //   "type" : "label",
    //   "position" : [86, 46],
    //   "hAnchor" : "mid",
    //   "wrapWidth" : 125,
    //   "value" : ""
    // }, //,
    //"canvas" : {
    //  "zlevel" : 1,
    //  "type" : "canvas",
    //  "rect" : [0, 0, 1000, 1000],
    //  "captureMouseEvents" : false
    //},
    //"overlay" : {
    //  "type" : "image",
    //  "file" : "/interface/objectcrafting/campfire_shine.png",
    //  "position" : [-20, 20]
    //}
  },

  //"tooltipLayout" : {
  //  "background" : {
  //    "type" : "background",
  //    "fileHeader" : "",
  //    "fileBody" : "/interface/sbmcn-common/tooltipbox.png",
  //    "fileFooter" : ""
  //  },
  //  "title" : {
  //    "type" : "label",
  //    "position" : [11, 54],
  //    "hAnchor" : "left",
  //    "vAnchor" : "top",
  //    "wrapWidth" : 220,
  //    "fontSize" : 12
  //  },
  //  "description" : {
  //    "type" : "label",
  //    "position" : [11, 38],
  //    "hAnchor" : "left",
  //    "vAnchor" : "top",
  //    "wrapWidth" : 220
  //  }
  //},

  "scriptWidgetCallbacks" : [
    //"confirm"
  ],

  "scripts" : ["/interface/sbmcnmachine/sbmcnmachine1gui.lua"],
  "scriptDelta" : 1
}
