{
  "sbmcnSettings" : {
    "exporterPipeCheckTime" : 200 //number of ticks between automatic pipe layout checks
  },

  "sbmcnMaterialConfig" : {
    "itemExporter" : {
      "default" : {
        "id" : "default",
        "fname" : "",
        "maxItems" : 1,
        "itemTransferTickCooldown" : 0,
        "maxPipeLength" : 12,
        "price" : 100,
        "colors" : [

        ]
      },
      "tungsten" : {
        "id" : "tungsten",
        "fname" : "Tungsten",
        "maxItems" : 1,
        "itemTransferTickCooldown" : 0,
        "maxPipeLength" : 12,
        "price" : 100,
        "colors" : [

        ]
      }
    },
    "fluidExporter" : {

    },
    "powerExporter" : {

    }
  },

  "baseColors" : {
    "itemPipe" : [
      "161b22", //only used by material in-world
      "2a3845", // ^^

      "1e2730", //darkest
      "607683",
      "95b5cb",
      "f2ffff"  //brightest
    ]
  }
}