{

  "sbmcnMaterialConfig" : {
    "generic" : {
      "default" : {
        "fname" : "default"
      },
      "aegisalt"  : {
        "fname" : "Aegisalt"
      },
      "copper" : {
        "fname" : "Copper"
      },
      "durasteel" : {
        "fname" : "Durasteel"
      },
      "ferozium" : {
        "fname" : "Ferozium"
      },
      "gold" : {
        "fname" : "Gold"
      },
      "iron" : {
        "fname" : "Iron"
      },
      "lead" : {
        "fname" : "Lead"
      },
      "silver" : {
        "fname" : "Silver"
      },
      "solarium" : {
        "fname" : "Solarium"
      },
      "steel" : {
        "fname" : "Steel"
      },
      "titanium" : {
        "fname" : "Titanium"
      },
      "tungsten" : {
        "fname" : "Tungsten"
      },
      "violium" : {
        "fname" : "Violium"
      },
      "wroughtiron" : {
        "fname" : "Wrought Iron"
      },
      "tin" : {
        "fname" : "Tin"
      },
      "glass" : {
        "fname" : "Glass"
      },
      "rubber" : {
        "fname" : "Rubber"
      },
      "wood" : {
        "fname" : "Wood"
      },
      "nickel" : {
        "fname" : "Nickel"
      },
      "platinum" : {
        "fname" : "Platinum"
      }
    },

    "itemExporter" : {
      "default" : {
        "id" : "default",
        "fname" : "",
        "maxItems" : 1,
        "itemTransferTickCooldown" : 0,
        "maxPipeLength" : 12,
        "price" : 100,
        "colors" : [

        ]
      },
      "tungsten" : {
        "id" : "tungsten",
        "fname" : "Tungsten",
        "maxItems" : 1,
        "itemTransferTickCooldown" : 0,
        "maxPipeLength" : 12,
        "price" : 100,
        "colors" : [

        ]
      }
    },
    "fluidExporter" : {

    },
    "powerExporter" : {

    }
  },

  "baseColors" : {
    "itemPipe" : [
      "161b22", //only used by material in-world
      "2a3845", // ^^

      "1e2730", //darkest
      "607683",
      "95b5cb",
      "f2ffff"  //brightest
    ]
  },

  "sbmcnLiquidConfig" : {
    "liquidTypes" : {
      "testLiquid" : {
        "id" : "testLiquid",
        "fname" : "Test Liquid",
        "texture" : "/interface/sbmcnliquids/notex.png",
        "desc" : "",
        "state" : "liquid", // liquid, gas, etc
        "liqItem" : false, // false if nil, or ["liqitem1", "liqitem2", ...] index 0 used as output. others used as input.
        "defaultTemp" : 298,
        "frameCount" : 6,
        "frameSpeed" : 5,
        "colors" : [
          
        ]
      }
    }    
  }
}