{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 3,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
            "animation" : "/animations/sparkles/sparkle1.animation",
            "position" : [0, 0],
            "initialVelocity" : [0, 2],
            "finalVelocity" : [0, 0],
            "approach" : [6, 6],
            "destructionAction" : "shrink",
            "destructionTime" : 1,
            "fade" : 1,
            "size" : 1,
            "fullbright" : true,
            "layer" : "front",
            "timeToLive" : 0.6,
            "collidesForeground" : false,
            "variance" : {
              "initialVelocity" : [0.5, 1.5],
              "position" : [0.4, 0.4]
            }
          }
        },
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1.0,
            "color" : [130, 160, 255, 230],
            "position" : [0, 0],
            "fade" : 0.9,
            "fullbright" : true,
            "initialVelocity" : [0, 0],
            "finalVelocity" : [0, 0],
            "approach" : [20, 20],
            //"light" : [170, 143, 255],
            "destructionTime" : 0.8,
            "collidesForeground" : false,
            "layer" : "front",
            "variance" : {
              "finalVelocity" : [0, 0],
              "initialVelocity" : [5, 5],
              "position" : [0.4, 0.4],
              "size" : 0.5
            }
          }
        }
      ]
    }
  ]
}
