{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 8.0,
            "color" : [255, 50, 50, 125],
            "position" : [0, 0],
            "fade" : 0.9,
            "timeToLive" : 2,
            "initialVelocity" : [0, 0],
            "finalVelocity" : [0, 0],
            "destructionTime" : 0.8,
            "fullbright" : true,
            "layer" : "back"
          }
        }
      ]
    }
  ]
}
