{
  "recipes" : [

    //================================================================
    // plate processing
    //================================================================
    {
      "input" : [
        {
          "type": "item", // item, pool, liquid
          "id" : "sbmcnbar",
          "count" : 1,
          "parameters" : {
            "sbmcnData" : {
              "materialType" : "iron"
            }  
          }
        }
      ],
      "output" : [
        {
          "type": "item", // item, pool, liquid
          "id" : "sbmcnplate",
          "count" : 1,
          "parameters" : {
            "sbmcnData" : {
              "materialType" : "iron"
            }  
          }
        }
      ],
      "conditions" : {
        "machineType" : "hammer",
        "powerLevel" : 1,
        "duration" : 100
      }
    },

    {
      "input" : [
        {
          "type": "item", // item, pool, liquid
          "id" : "sbmcnbar",
          "count" : 1,
          "parameters" : {
            "sbmcnData" : {
              "materialType" : "copper"
            }  
          }
        }
      ],
      "output" : [
        {
          "type": "item", // item, pool, liquid
          "id" : "sbmcnplate",
          "count" : 1,
          "parameters" : {
            "sbmcnData" : {
              "materialType" : "copper"
            }  
          }
        }
      ],
      "conditions" : {
        "machineType" : "hammer",
        "powerLevel" : 1,
        "duration" : 100
      }
    },

    //================================================================
    // melting
    //================================================================
    {
      "input" : [
        {
          "type": "item", // item, pool, liquid
          "id" : "sbmcnbar",
          "count" : 1,
          "parameters" : {
            "sbmcnData" : {
              "materialType" : "iron"
            }  
          }
        }
      ],
      "output" : [
        {
          "type": "liquid", // item, pool, liquid
          "id" : "testLiquid",
          "count" : 100,
          "temperature" : 250 
        }
      ],
      "conditions" : {
        "machineType" : "melter",
        "powerLevel" : 1,
        "duration" : 100
      }
    },

    //================================================================
    // solidifying
    //================================================================
    {
      "input" : [
        {
          "type": "liquid", // item, pool, liquid
          "id" : "testLiquid",
          "count" : 100,
          "temperatureRange" : [200, 300] 
        },
        {
          "type": "item", // item, pool, liquid
          "id" : "sbmcnmold",
          "count" : 1,
          "noConsume" : true,
          "parameters" : {
            "sbmcnData" : {
              "moldType" : "bar"
            }  
          }
        }
      ],
      "output" : [
        {
          "type": "item", // item, pool, liquid
          "id" : "sbmcnbar",
          "count" : 1,
          "parameters" : {
            "sbmcnData" : {
              "materialType" : "iron"
            }  
          }
        }
      ],
      "conditions" : {
        "machineType" : "solidifier",
        "powerLevel" : 0,
        "duration" : 50
      }
    }

  ]
}